Tower_Ascend/Binaries/Win64/Tower_Ascend-Win64-Shipping.pdb
Tower_Ascend/.vs/Tower_Ascend/v17/Browse.VC.db
Tower_Ascend/Intermediate/Build/Win64/x64/Tower_Ascend/DebugGame/Engine/SharedPCH.Engine.NonOptimized.Cpp20.h.pch
Tower_Ascend/Intermediate/Build/Win64/x64/Tower_Ascend/Shipping/Engine/SharedPCH.Engine.Cpp20.h.pch
Tower_Ascend/.vs/Tower_Ascend/v17/ipch/936e3b4ecc510a18.ipch
Tower_Ascend/Binaries/Win64/Tower_Ascend-Win64-Shipping.exe
Tower_Ascend/.vs/Tower_Ascend/v17/Solution.VC.db
Tower_Ascend/Binaries/Win64/Tower_Ascend-Win64-DebugGame.exe
Tower_Ascend/Binaries/Win64/Tower_Ascend-Win64-DebugGame.pdb
Tower_Ascend/Saved/StagedBuilds/Windows/Tower_Ascend/Content/Paks/Tower_Ascend-Windows.ucas
Tower_Ascend/Saved/StagedBuilds/Windows/Tower_AScend/Tower_Ascend-Win64-Shipping.exe
Tower_Ascend/Saved/StagedBuilds/Windows/Tower_Ascend/Binaries/Win64/Tower_Ascend-Win64-Shipping.exe
